!!!
%html
  %head
    %meta(charset="utf-8")
    %title= title
    %link(rel="shortcut icon" href="/img/favicon.ico")
    %link(rel="stylesheet" href="/css/style.css")
    %script(src="http://odiak.net/lib/jquery/jquery.js")
    %script(src="/js/script.js")
    - if production?
      %script(src="/js/ga.js")
    - if authorized?
      %script(src="/js/admin.js")
  %body
    #wrapper
      %h1
        %a(href="/")= site_name
      #nav
        %ul
          %li
            %a(href="/about") About This Blog
      #description= site_description
      #content
        = yield
      #footer
        %p.copyright= copyright